.loading-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8vw;
}
.loading-sec img {
  padding-top: 5vw;
  margin-bottom: 150px;
}

.loading-sec h3 {
  max-width: 250px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 5vw;
}
.loading-sec button {
  padding: 1vw 7vw;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(163, 236, 253);
  font-weight: 900;
  font-size: large;
}
